@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #94d1f9;
    --text-color: #363636;
    --sub-color: #ee4d2d;
    --text-sub-color: #231f20;
    --black-color: #000;
    --height-header: 80px;
    --width-sidebar: 240px;
    --theme-mode-background: #fff;
    --theme-mode-color: #363636;
    --primary-color-Ad: #6363fc;
    --width-sidebar: 240px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: "Poppins", sans-serif;
}

html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}

#root {
    width: 100%;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

svg {
    font-size: 1em;
    height: 20px;
    height: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

// custom Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    padding: 10px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

.banner {
    width: 100%;
    padding-bottom: 20px;
}

.slide {
    width: 100%;
    position: relative;
}

.banner__btn {
    position: absolute;
    display: inline-flex;
    text-decoration: none;
    color: transparent;
}

.banner__btn.left {
    top: 50%;
    left: -14px;
    transform: translateY(-50%);
}

.col {
    margin-bottom: 30px;
}

.banner__btn.right {
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}

.slide__show-img {
    padding-top: 26%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.new {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #eb3482;
    border-radius: 10px 0px 10px 0px;
}

.giamgia {
    position: absolute;
    width: 60px;
    height: 40px;
    background: #eb3482;
    border-radius: 10px 0px 10px 0px;
}

.giamgia,
.new p {
    line-height: 40px;
    text-align: center;
    color: yellow;
    font-weight: 600;
}

.slide a button {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

/* main */
/* // main css */
.main__wrapper {
    margin-top: calc(var(--height-header) + 40px);
    margin-left: 3rem;
}

.main__product {
    margin-top: 30px;
}

.main__product-wrapper {
    margin-top: 60px;
}

.main__product-wrapper:first-child {
    margin: 0;
}

.main__product-content {
    margin-top: 20px;
}

.main__product-title {
    font-size: 2.4rem;
    color: var(--text-color);
    display: inline-block;
}

.main__product-box {
    text-decoration: none;
    color: var(--text-color);
}

.main__product-box-picture {
    background-color: #5ec9dd;
    border-radius: 20px;
}

.main__product-box-picture.news {
    background-color: transparent;
}

.main__product-box-img.news {
    border-radius: 20px;
    background-size: cover;
}

.main__product-box-img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main__product-box-title {
    font-size: 1.8rem;
    color: #181821;
    margin-top: 6px;
}


.main__product-box-title.news {
    font-size: 1.8rem;
    color: #181821;
    margin-top: 6px;
    max-height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.main__product-box-price {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.main__product-box-current-price {
    font-size: 1.6rem;
    color: var(--sub-color);
    font-weight: 600;
}

.main__product-box-old-price {
    font-size: 1.4rem;
    color: rgb(122, 120, 120);
    margin-left: 10px;
    text-decoration: line-through;
    font-weight: 600;
}

.main__product-box-color {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.main__product-box-color-title {
    padding: 4px 10px;
    background-color: #d0e2fc;
    border-radius: 999px;
    text-decoration: none;
    color: #6363fc;
    font-weight: 600;
}

.main__product-box-color-wrapper {
    display: flex;
    align-items: center;
}

.main__product-box-color-component {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.main__product-box-color-component.black {
    background-color: #181821;
}

.main__product-box-color-component.red {
    background-color: red;
}

.main__product-box-color-component.orange {
    background-color: var(--sub-color);
}

.main__product-box-color-component.yellow {
    background-color: yellow;
}

.main__product-box-title {
    font-size: 1.8rem;
    color: #181821;
    margin-top: 6px;
    max-height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}



@media (max-width: 400px) {
    .main__product-box-price {
        flex-wrap: wrap;
    }

    .main__product-box-current-price {
        font-size: 1.3rem;
    }

    .main__product-box-old-price {
        font-size: 1.2rem;
    }
}

/* Mobile reponsive */
@media (max-width: 715px) {
    .main__product-box-img {
        padding-top: 60%;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .main__product-box-title {
        font-size: 1.8rem;
        color: #181821;
        margin-top: 6px;
        max-height: 3rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
}



// admin-css



thead {
    font-size: 1.6rem;
}

tbody {
    font-size: 1.4rem;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid var(--primary-color-Ad);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;

}

td,
th {
    padding: 6px 10px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
    font-family: "Poppins", sans-serif;
}

html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}




.content {
    flex: 1;
    max-width: calc(100% - var(--width-sidebar));
}

.content__nav {
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    position: relative;
}

.content__nav-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding: 0 30px;
}

.content__nav-item {
    margin-right: 30px;
    padding: 10px 10px;
    cursor: pointer;
}

.content__nav-item.active {
    background-color: #e9e9fb;
    border-radius: 4px;
}

.content__nav-comment-item {
    margin-right: 30px;
    padding: 10px 10px;
    cursor: pointer;
}

.content__nav-comment-item.active {
    background-color: #e9e9fb;
    border-radius: 4px;
}

.content__nav-account-item {
    margin-right: 30px;
    padding: 10px 10px;
    cursor: pointer;
}

.content__nav-account-item.active {
    background-color: #e9e9fb;
    border-radius: 4px;
}

.nav__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: var(--primary-color-Ad);
    transition: all 0.2s linear;
}

.nav__line-comment {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: var(--primary-color-Ad);
    transition: all 0.2s linear;
}

.nav__line-account {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: var(--primary-color-Ad);
    transition: all 0.2s linear;
}


.manage-content {
    width: 100%;
    margin-top: 20px;
}

.manage-content-tab {
    display: none;
}

.manage-content-tab.active {
    display: block;
}

.manage-content-comment-tab {
    display: none;
}

.manage-content-comment-tab.active {
    display: block;
}

.manage-content-account-tab.active {
    display: block;
}

.manage-content-account-tab {
    display: none;
}

.manage-content__title {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 3rem;
    line-height: 4rem;
}

.manage-content__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#form-add-product {
    margin: auto;
    width: 70%;
    border: 2px solid var(--primary-color-Ad);
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin-bottom: 50px;
}

.form-add-product {
    margin: auto;
    width: 70%;
    border: 2px solid var(--primary-color-Ad);
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin-bottom: 50px;
}

.form-box {
    display: flex;
    align-items: flex-start;
}

.manage-content__box-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    position: relative;
    width: 80%;
    height: 60px;
    border: 2px solid var(--primary-color-Ad);
    border-radius: 8px;
    padding: 6px 10px 10px 10px;
    position: relative;
}

.form-group.error {
    border: 2px solid red;
}

.form-group.mt-40 {
    margin-top: 40px;
}

.form-group__title {
    position: absolute;
    top: -10px;
    left: 16px;
    padding: 0 4px;
    background-color: #fff;
    color: #363636;
    font-weight: 500;
}

.form-group__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #363636;
}

.form-group__input::-moz-placeholder {
    color: #aaacb6;
}

.form-group__input:-ms-input-placeholder {
    color: #aaacb6;
}

.form-group__input::placeholder {
    color: #aaacb6;
}

.form-group__input.input-file {
    opacity: 0;
    z-index: -1;
    cursor: pointer;
}

.file-upload {
    position: absolute;
    top: 48%;
    transform: translateY(-48%);
    cursor: pointer;
    padding: 10px 50% 10px 10px;
    color: #aaacb6;
    font-size: 1.4rem;
    overflow: hidden;
    line-height: 1.8rem;
    height: 3.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.manage-content__box-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group__error {
    color: red;
    font-size: 1.2rem;
    position: absolute;
    bottom: 1px;
    left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-footer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit {
    padding: 10px 60px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    background-color: var(--primary-color-Ad);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-tab-edit {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.table {
    width: 100%;
    line-height: 2rem;
}

.table.table-border {
    border: 1px solid var(--primary-color-Ad);
}


#app__container {
    margin: 20px 0;
}

.table__tbody-img {
    padding-top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table__tbody-link {
    display: block;
    text-decoration: none;
    margin: 16px 2px;
    color: #ee4d2d;
    font-size: 1.6rem;
}


.feedback-wrapper-content {
    width: 80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
}

.feedback-wrapper-content-info-user {
    display: flex;
    align-items: flex-start;
}

.feedback-wrapper-content-avatar {
    width: 50px;
    height: 50px;
}

.feedback-wrapper-content-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-wrapper-content-text {
    display: flex;
    width: 900px;
    max-width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 16px;
}

.feedback-wrapper-content-name {
    font-size: 1.8rem;
    color: #363636;
    margin-top: 16px;
}

.feedback-wrapper-content-text-content {
    margin-top: 24px;
    font-size: 1.6rem;
    color: #404040;
    line-height: 2.2rem;
    max-width: 100%;
}

.wrapper-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.wrapper-actions-remove {
    color: #ee4d2d;
    background-color: #ffd9d2;
    padding: 10px;
    font-weight: 500;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper-actions-remove:hover {
    background-color: #facdc5;
}

.feedback-wrapper-content-actions {
    color: #ee4d2d;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    line-height: 2.4rem;
    padding: 6px;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.feedback-wrapper-content-actions:hover {
    background-color: #ffe9e5;
}

.feedback-wrapper-content-actions-text {
    font-size: 1.8rem;
    margin-right: 10px;
}

.feedback-wrapper-content-actions-icon {
    font-size: 2rem;
    line-height: 2.4rem;
    -webkit-animation: iconFeedback linear 0.2s;
    animation: iconFeedback linear 0.2s;
    display: none;
}

@-webkit-keyframes iconFeedback {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes iconFeedback {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.feedback-wrapper-content-actions-icon.active {
    display: inline-block;
}

.form-feedback {
    width: 100%;
    padding: 10px 10px 0 10px;
    display: none;
    background-color: transparent;
    -webkit-animation: formFeedbackAnimation linear 0.4s;
    animation: formFeedbackAnimation linear 0.4s;
}

@-webkit-keyframes formFeedbackAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes formFeedbackAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-feedback.active {
    display: block;
}

.form-feedback-text {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-wrapper-feedback {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.send-feedback {
    color: #ee4d2d;
    background-color: #ffd9d2;
    padding: 10px;
    font-weight: 700;
    border: none;
    font-size: 1.8rem;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 10px;
    cursor: pointer;
}

.send-feedback:hover {
    background-color: #facdc5;
}

.form-feedback-message {
    color: red;
    display: none;
}

.form-feedback-message.active {
    display: block;
}

.form-feedback-error {
    font-size: 1.4rem;
}

.comment-all__wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-comment {
    width: 90%;
    padding: 30px 4px 30px 30px;
    max-height: 60vh;
    overflow-y: auto;
}

.comment-all__box {
    width: 100%;
    border-left: 4px solid #ee4d2d;
    padding: 0 40px;
    position: relative;
}

.comment-all__box::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -9px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ee4d2d;
}

.comment-all__box::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: -9px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ee4d2d;
}

.comment-all__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    margin-top: 26px;
}

.comment-all__content-index {
    position: absolute;
    top: 50%;
    left: -55px;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #fff;
    background-color: #ee4d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.comment-all__content-info {
    display: flex;
    align-items: flex-start;
}

.comment-all__content-info-avatar {
    width: 40px;
    height: 40px;
}

.comment-all__content-info-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.comment-all__content-info-text {
    margin-left: 10px;
    padding-right: 10px;
    width: 90%;
}

.comment-all__content-info-name {
    font-size: 1.6rem;
    color: #363636;
    line-height: 2rem;
}

.comment-all__content-info-time {
    font-size: 1.4rem;
    color: #a0a0a0;
    line-height: 1.6rem;
    display: inline-block;
    margin-top: 4px;
}

.comment-all__content-info-content-comment {
    margin-top: 16px;
    line-height: 2.2rem;
    font-size: 1.6rem;
    color: #363636;
    padding-right: 10px;
}

.comment-all__actions {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70px;
    min-height: auto;
}

.comment-all__actions::before {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 100%;
    border-left: 2px solid #ee4d2d;
}

.comment-all__actions-btn {
    padding: 8px 12px;
    background-color: #ffd9d2;
    color: #ee4d2d;
    border-radius: 10px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.comment-all__actions-btn:hover {
    background-color: #facdc5;
}

.user-wrapper {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-box {
    width: 80%;
}

.table-user {
    width: 100%;
    border: none;
}

.thead-user {
    background-color: #dfdddd;
    border: none;
}

.thead-user tr {
    padding: 4px 10px;
    border-radius: 10px;
}

.thead-user th {
    border: none !important;
    padding: 10px 20px;
}

.thead-user th:first-child {
    border-top-left-radius: 6px;
}

.thead-user th:last-child {
    border-top-right-radius: 6px;
}

.tbody-user {
    font-size: 1.6rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tbody-user .tbody-row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.tbody-user td {
    border-collapse: collapse;
    border: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;

}

.col-user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-avatar {
    width: 50px;
    height: 40px;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40%;
}

.user-name {
    margin-left: 10px;
    font-size: 1.6rem;
    color: #363636;
    line-height: 1.8rem;
}

.action-btn-remove {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 500;
}

.action-btn-remove:hover {
    color: var(--primary-color-Ad);
}

.modal-profile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-profile.active {
    display: flex;
}

.modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    position: relative;
}

.modal-wrapper-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-wrapper-close-icon {
    font-size: 1.8rem;
    color: #aaacb6;
}

.modal-title {
    text-align: center;
    font-size: 2rem;
    color: #363636;
    line-height: 2.4rem;
    margin: 0;
}

.modal-info-current {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-info-current-avatar {
    width: 100px;
    height: 100px;
    border: 3px solid var(--primary-color-Ad);
    border-radius: 50%;
}

.modal-info-current-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.modal-info-current-name {
    font-size: 1.8rem;
    color: #363636;
    line-height: 2rem;
    margin: 6px 0;
}

.modal-info-current-desc {
    margin: 0;
    font-size: 1.4rem;
    color: #929292;
    line-height: 1.6rem;
}

.modal-form-profile {
    margin-top: 20px;
}

.form-group-modal {
    margin-top: 10px;
}

.form-group-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-modal-title {
    font-size: 1.4rem;
    color: #363636;
    font-weight: 500;
    line-height: 1.4rem;
}

.form-modal-input {
    margin-top: 8px;
    padding: 12px 10px;
    border: 2px solid var(--primary-color-Ad);
    font-size: 1.4rem;
    color: #363636;
    font-weight: 400;
    line-height: 1.4rem;
    border-radius: 10px;
    outline: none;
    font-weight: 500;
}

.form-modal-input::-moz-placeholder {
    color: rgb(164, 162, 162);
}

.form-modal-input:-ms-input-placeholder {
    color: rgb(164, 162, 162);
}

.form-modal-input::placeholder {
    color: rgb(164, 162, 162);
}

.modal-file {
    position: relative;
}

.input-modal-file {
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.sticker-file {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-53%);
    padding: 12px 10px;
    display: block;
    width: 100%;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 2px solid var(--primary-color-Ad);
    color: rgb(164, 162, 162);
    cursor: pointer;
}

.form-modal-error {
    margin-top: 8px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: red;
}

.modal-submit {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn-submit {
    background-color: var(--primary-color-Ad);
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

/*# sourceMappingURL=globalStyle.css.map */

.modal__edit-product {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    visibility: hidden;
    -webkit-animation: modal__edit-animation linear 0.2s;
    animation: modal__edit-animation linear 0.2s;
}

.modal__edit-product.active {
    display: flex;
    visibility: visible;
}

@-webkit-keyframes modal__edit-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modal__edit-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal__edit-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__edit-auth {
    position: relative;
    margin: auto;
    width: 700px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-height: 100%;
    overflow-y: scroll;
}

.modal__edit-product-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: flex;
    cursor: pointer;
}

.modal__edit-product-close:hover {
    background-color: #fafafa;
}

.modal__edit-product-close .modal__edit-product-close-icon {
    margin: auto;
    font-size: 2.4rem;
    color: #c4c0c0;
}

.modal__edit-wrapper-img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__edit-avatar {
    width: 50%;
    height: 140px;
    border-radius: 6px;
}

.modal__edit-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 6px;
}

.modal__edit-auth-title {
    text-align: left;
    font-size: 2.2rem;
    color: #363636;
}

.form__edit-product {
    margin-top: 20px;
}

.form__edit-product.active {
    background-color: transparent;
}

.form-group-edit {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.form-group-edit:first-child {
    margin-top: 0;
}

.form-group-edit-label {
    font-size: 1.6rem;
    color: #404040;
    text-align: left;
    width: 164px;
}

.form-group-content {
    flex: 1 1;
    height: 40px;
    position: relative;
}

.form-group-content:hover .form-group-edit-btn-edit {
    display: flex;
}

.form-group-edit-input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #ddd;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 6px;
    pointer-events: none;
}

.form-group-edit-input.error {
    border: 1px solid red;
}

.form-group-edit-input.edit-input-file {
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.form-group-content-sticker-file {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-53%);
    padding: 12px 10px;
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    color: rgb(164, 162, 162);
    cursor: pointer;
}

.form-group-edit-btn-edit {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: none;
    border-radius: 999px;
    cursor: pointer;
}

.form-group-edit-btn-edit:hover {
    background-color: #f5f5f5;
}

.form-group-edit-btn-edit .form-group-edit-btn-edit-icon {
    margin: auto;
    font-size: 1.6rem;
}

.form-group-edit-error {
    display: block;
    font-size: 1.4rem;
    color: red;
    text-align: left;
    margin: 2px 0;
}

.form-group-actions {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.form-group-actions-btn {
    padding: 12px 16px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.form-group-actions-btn:first-child {
    margin-left: 0;
}

.form-group-actions-btn.cancel {
    background-color: rgba(0, 0, 0, 0.05);
    color: #929292;
}

.form-group-actions-btn.submit {
    background-color: #6363fc;
    color: #fff;
}

.form-group-actions-btn.default {
    opacity: 0.6;
    pointer-events: none;
}


.content__nav-category-item {
    margin-right: 30px;
    padding: 10px 10px;
    cursor: pointer;
}

.content__nav-category-item.active {
    background-color: #e9e9fb;
    border-radius: 4px;
}




.nav__line-category {
    position: absolute;
    // left: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    height: 4px;
    border-radius: 15px;
    background-color: var(--primary-color-Ad);
    transition: all 0.2s linear;
}


.content__nav-bill-item {
    margin-right: 30px;
    padding: 10px 10px;
    cursor: pointer;
}

.content__nav-bill-item.active {
    background-color: #e9e9fb;
    border-radius: 4px;
}

.manage-content-bill-tab.active {
    display: block;
}

.manage-content-bill-tab {
    display: none;
}

.nav__line-bill {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: var(--primary-color-Ad);
    transition: all 0.2s linear;
}

.bill__content {
    margin-top: 20px;
}

.bill__content-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
}

.bill__content-line:first-child {
    margin-top: 0;
}

.bill__content-line-one-title {
    font-size: 1.8rem;
    color: #363636;
    font-weight: 500;
}

.form__bill-wrapper {
    margin-top: 34px;
    display: none;
    align-items: center;
    animation: formBillAnimation linear 0.2s;
}

.form__bill-wrapper.active {
    display: flex;
}

@keyframes formBillAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1
    }
}

.form__bill-btn {
    padding: 10px 16px;
    outline: none;
    border: none;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: transparent;
    margin-left: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.form__bill-btn:first-child {
    margin-left: 0;
}

.form__bill-btn.confirmed {
    background-color: #6363fc;
    color: #fff;
}

.form__bill-btn.delivering {
    background-color: #5ec9dd;
    color: #fff;
}

.form__bill-btn.delivered {
    background-color: rgb(0, 191, 165);
    color: #fff;
}

.form__bill-btn.order-cancellation {
    background-color: #e2747e;
    color: #fff;
}

.bill-all__actions-btn {
    padding: 8px 12px;
    background-color: #ffd9d2;
    color: #ee4d2d;
    border-radius: 10px;
    border: none;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem
}

.comment-all__content-info.bill {
    width: 100%;
    padding-right: 20px;
}

.comment-all__content-info-text.bill {
    flex: 1 1;
}

.edit-input-file {
    border: none;
}

.bill_chitiet {
    display: flex;
    height: 100px;
    line-height: 50px;
}

.bill_chitiet img {
    width: 150px;
    object-fit: cover;
}

.chitiets_nameProduct {
    display: flex;
}

.chitiets_nameProduct p {
    margin-left: 20px;
}

.bill_trangthai {
    margin-left: 100px;
    margin-top: 10px;
}

.bill_trangthai p {
    padding: 10px;
    background: #6363fc;
    color: white;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
}

.bill_trangthai .bill_trangthai_xacnhan {
    background: #2652ab;
}

.bill_trangthai .bill_trangthai_giaohang {
    background: #5ec9dd;
}

.bill_trangthai .bill_trangthai_thanhcong {
    background: rgb(0, 191, 165);
}

.bill_trangthai .bill_trangthai_huy {
    background: #ff3939;
}

.menu-ad {
    height: 25px;
}